/* This is how you can comment on CSS. We will figure it out here as we go! */

/* I wanted to practice commenting. I figured out how to make the background color black using external CSS! */


body {
    background-color: black;
    
}

h1 {
    background-color: red;
    margin-bottom:-5px;
}
p {

    border-color: white;
    border-width: 5px;
    border-style: solid;

    padding: 5px;
    margin: 20px;
}